#big_container{
    padding-left: 50px;
    padding-right: 50px;
}
#div1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 90, 19);
    color: white;
    height: 3vh;
    padding: 20px;


}
.btn1{
    background-color: rgb(19, 90, 19);  
    border: none;
    color: white;
    font-size: medium;
}
#div2{
    justify-content: space-between;
    display: flex;

}
nav a{
    text-decoration: none;
    color: #000;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
#icons{
    gap: 50px;
}
#div3{
    display: flex;
    justify-content: center;
}
#div3a{
    display: flex;
}

.image2{
    object-fit: contain;
    width: 110%;
    height: 40vh;
}

.div3b{
    display: flex;
}
span{
    color: rgb(22, 170, 22);  
}
#div4{
    display: flex;
    gap: 10%;
}
#div4a{
    display: flex;
}
#div5{
    text-align: center;
}
#div6{
    display: flex;
}
#div6a{
    display: flex;
}
.img12{
    width: 90%;
    height: 70vh;
    object-fit: cover;
}
.btn2{
    color: white;
    background-color:  rgb(22, 170, 22);  
    border-radius: 5px;
    height: 7vh;
    width: 25%;
}
#div7{
    display: flex;
    gap: 20%;
    justify-content: center;
}
#div7a{
    display: flex;
    gap: 20%;
    justify-content: center;
}
.img13{
    width: 130%;
    height: 60vh;
    object-fit: contain;
}
p{
    font-size: 120%;
}
.btn3{
    background-color:  rgb(22, 170, 22);
    color: white;
    height: 4vh;
    border-radius: 5px;
}
#div8{
    padding-left: 40px;
}
#div9{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#div10{
    display: flex;
    justify-content: center;
    gap: 15%;
}
.img28{
    width: 130%;
    height: 40vh;
    object-fit: cover;
}
#div11{
    display: flex;
    gap: 10%;
}
.img29{
    width: 100%;
    height: 30vh;
}
.img30{
    width: 150%;
    height: 30vh;
}
.img31{
    width: 100%;
}
#div12{
    display: flex;
    justify-content: center;
    gap: 10%;
}
h2{
    font-size: 200%;
}
.img0a{
    border-radius: 18px;
    width: 40%;
    
}
.img0b{
    border-radius: 18px;
    width: 70%;
}
.img0c{
    border-radius: 18px;
    width: 40%;
}
.btn4{
    background-color:  rgb(22, 170, 22);
    color: white;
}
#div13{
    display: flex;
    justify-content: center;
    gap: 30%;
}
.btn4{
    width: 95%;
    height: 5vh;
}
input{
    width: 90%;
    height: 5vh;
}
@media only screen and   (max-width:912px){
    .image2{
        width: 50%;
        height: 30vh;
    }
    #div1{
        width: 70%;
       font-size: 80%;
       padding-left: 50px;
    }
    #div2{
      display: grid;
      grid-template-columns: 1 1fr;
      justify-content: center;
      font-size: 100%;
    }
    nav ul{
        
        display: grid;
        grid-template-columns: 1 1fr;
        justify-content: space-around;
    
    }
    #div3{
        display: grid;
        grid-template-columns: 1 1fr;
        justify-content: center;
    }
    #div3a{
        display: grid;
        grid-template-columns: 1 1fr;
        justify-content: center;
    }
    #div4{
        display: grid;
        grid-template-columns: 1 1fr;
        gap: 0px;
        justify-content: center;
    }
    #div6{
        display: grid;
        grid-template-columns: 1 1fr;
        justify-content: center;
    }
    #div6a{
        display: grid;
        grid-template-columns: auto auto;
    }
    .img12{
        width: 50%;
        height: 15vh;
        object-fit: cover;
    }
    .img13{
        width: 80%;
        height: 20vh;
    }
    #div7{
        gap: 0%;
    }
    h1{
        font-size: 120%;
    }
    p{
        font-size: 100%;
    }
    .btn2{
        height: 5vh;
        width: 30%;
    } 
    .img15{
        width: 40%;
        height: 10vh;
    }
    .btn3{
        width: 30%;
        font-size: 50%;
        height: 5vh;
    }
    .img28{
        width: 80%;
        height: 20vh;
    }
    #div10{
        justify-content: center;
        gap: 0px;
        display: grid;
        grid-template-columns: 1 1fr;
    }
    #div9{
       grid-template-columns: auto auto; 
       justify-content: center;
    }
    #div11{
      display: grid;
      grid-template-columns: 1 1fr;
        gap: 0px;
    }
    .img29{
        width: 80%;
        height: 15vh;
    }
    .img30{
        width: 80%;
        height: 15vh;
    }
    .img31{
        width: 80%;
    }
    #div13{
        gap: 0px;
        display: grid;
        grid-template-columns: 1 1fr;
    }
    h3{
        font-size: 80%;
    }
    #div12{
        gap: 0px;
        width: 50%;
        justify-content: center;
    }
    h2{
        font-size: 100%;
    }
    .btn4{
        width: 50%;
        height: 5vh;
    }
    input{
        width: 50%;
        height: 5vh;
    }
    .img2{
        width: 80%;
        height: 15vh;
    }
    .img3{
        width: 50%;
        height: 15vh;
    }
    .img4{
        width: 90%;
        height:10vh;
    }
    #div7a{
       display: grid;
       grid-template-columns: 1 1fr;
        gap: 0px;
        
    }
    .img5{
        width: 90%;
        height: 10vh;
    }
    #div5a{
        justify-content: center;
        padding-left: 30px;
    }
    .img0b{
        width: 50%;
    }
}

















    
    






